.nav {
  width: 80%;
  display: flex;
  justify-content: space-around;
  height: 110px;
  align-items: center;
  background-color: #212529;
}
.buttons {
  display: flex;
  justify-content: space-around;
}

.button {
  height: 60%;
  margin: 0 5px;
}

.button img {
  height: 40px;
}

@media screen and (max-width: 1090px) {
  .button {
    font-size: 15px !important;
  }
  .gitCat {
    display: none;
  }
}

@media screen and (max-width: 660px) {
  .button {
    font-size: 10px !important;
  }
  .nav {
    width: 100%;
  }
}

@media screen and (max-width: 390px) {
  .button {
    margin: 0 0;
  }
}
